html, body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

a:link, a:visited {
	color: #2980b9;
}
a:hover{
	color :#16a085;
}

#shortner{
	width: 100%;
}

.field{
	width: 80%;
 }
.submit{
	width: 20%;
}

#widgets {
	margin-top: 30px;
	margin-left: 30px;
	float: left;
}

.widget {
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	width: 100px;
	text-align: center;
	border:solid 4px #2980b9;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.number {
	font-size: 40px;
}


.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .table {
    display: table;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
	font-weight: 900;
	color: #ffffff;
}
.row.blue {
	background: #2980b9;
}
.row.content:hover{
	background: #bdc3c7;
}
@media screen and (max-width: 950px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
	padding: 6px 12px;
	display: table-cell;
}
@media screen and (max-width: 950px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.fade {
    animation: fadein 3s;
    -moz-animation: fadein 3s; 
    -webkit-animation: fadein 3s; 
    -o-animation: fadein 3s;
}
@keyframes fadein {
    from { opacity:0;}
    to { opacity:1; }
}
@-moz-keyframes fadein { /* sur Firefox */
    from { opacity:0;}
    to {  opacity:1;}
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from { opacity:0;}
    to { opacity:1;}
}
@-o-keyframes fadein { /* sur Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
